/* Richard Davies, Data Science for Economists */
/* This is my first proper css file */
/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Set the background color for my page: */
body {
    width: 1200px;
    margin: 0 auto;
    background-color: #122b39;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(255, 255, 255);
}

/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3{
    color:rgb(255, 255, 255);
    font-family: Arial;
    text-align: center;
    background-image: linear-gradient(
        -45deg, 
       rgba(59, 174, 227, 0.418) 0%, 
       rgba(87, 111, 230, 0.308) 25%, 
       rgba(152, 68, 183, 0.295) 51%, 
       rgba(255, 53, 127, 0.247) 100%)
}

p{
    color:rgb(255, 255, 255);
    font-family: Arial;
    text-align: center;
}
li {
    color:#122b39;
    font-family: Arial;
    text-align: center;
}
ul {
    color: #ffffff;
}
.myWeek1{
    margin: auto;
    max-width: 1200px;
    background-color: #122b39;
}

.chart{
    background-color: #122b39;


}
/* Set the apperance of the class, chart */
